<div class="layout">
  <!-- Sidebar -->
  <aside class="sidebar" [class.expanded]="isExpanded"
         (mouseenter)="isExpanded = true"
         (mouseleave)="isExpanded = false">

    <mat-toolbar color="primary" class="sidenav-header">
      <mat-icon>menu</mat-icon>
      <span *ngIf="isExpanded" class="toolbar-title">My App</span>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/" >
        <mat-icon>home</mat-icon>
        <span *ngIf="isExpanded">Home</span>
      </a>
      <a mat-list-item routerLink="/about">
        <mat-icon>info</mat-icon>
        <span *ngIf="isExpanded">About</span>
      </a>
    </mat-nav-list>
  </aside>

  <!-- Main content -->
  <main class="main">
    <mat-toolbar color="primary">
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>

    <mat-menu #appMenu="matMenu">
      <button mat-menu-item routerLink="/about">
        <mat-icon>info</mat-icon>
        <span>About</span>
      </button>
    </mat-menu>

    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
